@font-face {
	font-family: 'Cracked Johnnie';
	src: url('../font/CRACJ___.TTF');
}



body {
  	background-color: #d9d7d8;
}

.crjon {
	font-family: 'Cracked Johnnie', sans-serif;
	font-size: 0.8em;
}


.logo {
	font-size: 52px;
}

.center {
	text-align: center;
}

.picleft {
	float: left;
	padding-right: 15px;
}

.picright {
	float: right;
	padding-left: 15px;
}


.content {
	font-size: 0.9em;
}

.flex-container {
	display: flex;
	justify-content: space-around;
}